.gamePanel {
    flex: 20%;
}

.gamePanel__item {
    border: 1px solid pink;
    border-radius: 30%;
    background: aliceblue;
    color: deeppink;
    width: 100px;
    margin: 20px auto;
    display: block;
    text-align: center;
}
