.gamePanel {
    flex: 20%;
}

.gamePanel__item {
    border: 1px solid pink;
    border-radius: 30%;
    background: aliceblue;
    color: deeppink;
    width: 120px;
    height: 2em;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamePanel__select {
    width: 3em;
    border: 1px solid pink;
    outline: none;
}

.gamePanel__gotcha {
    margin: 60px auto;
    height: 3em;
    font-size: 1.1em;
    color: #444444;
}

.gamePanel__timer {
    font-size: 1.5em;
}

.clickable {
    cursor: pointer;
    outline: none;
}

.clickable:hover {
    cursor: pointer;
    opacity: 0.7;
}
