.gamePlay {
    flex: 60%;
    display: grid;
    justify-content: center;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
}

.gamePlay_failure {
    background: red;
}

.gamePlay_success {
    background: limegreen;
}

.box {
    background: #444;
    border: 1px solid #555;
    color: #AAA;
}


.box_active {
    background: aqua;
}
